<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/sidebar.css">
        <title>Trackgenix SA</title>
    </head>
    <body>
        <header>
            <img id="logo-img" src="/assets/icons/trackgenix-logo.png" alt="trackgenix logo" width="50px">
            <h1>Trackgenix SA</h1>
            <img id="menu-icon" src="/assets/icons/menu-icon.png" alt="Menu button">
        </header>
        <aside class="menu">
            <span>Menu</span>
                <div id="menu-div"></div>
                <ul class="menu-buttons">
                        <li>
                            <a href="/views/index.html">Home</a>
                        </li>
                    <div class="menu-div"></div>
                        <li>
                            <a href="/views/sign-up.html">Sign Up</a>
                        </li>
                    <div class="menu-div"></div>
                        <li>
                            <a href="/views/login.html">Login</a>
                        </li>
                    <div class="menu-div"></div>
                </ul>
                <span id="contact-us">Contact Us</span>
                <div class="side-contact">
                    <div id="side-email" >
                        <img src="/assets/icons/mail-icon.png">
                        <p>contact@trackgenix.com</p>
                    </div>
                    <div id="side-phone">
                        <img src="/assets/icons/phone-icon.png">
                        <p>(000) 000-0000</p>
                    </div>
                    <div id="side-address">
                        <img src="/assets/icons/home-icon.png">
                        <p>1234 Somewhere Road #8254 Nashville, TN 00000-0000</p>
                    </div>
                </div>
        </aside>
    <main>
        <div class="first-part">
            <div class="main-text">
                <h2>Manage your hours and teams with ease</h2>
                <h3>Use TrackGenix to track time, make desicions and upgrade your productivity</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic aliquid sunt, 
                    adipisci alias quasi labore sequi beatae minima porro consectetur, architecto 
                    autem est aliquam doloremque in nobis repudiandae mollitia consequatur!
                </p>
                <button>Learn more</button>
            </div>
            <div id="first-image">
                <img src="/assets/images/manage-teams.jpg" alt="" width="520px" height="387px">
            </div>
        </div>
        <h2 id="function-h2">Functionalities</h2>
        <section class="functions">
            <div>
                <article class="functionality">
                    <img src="/assets/icons/time-tracking.png" width="50px">
                    <div>
                        <h3>Time Tracking</h3>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, 
                            blanditiis rem asperiores sint voluptatibus a ea similique, dolor atque. 
                        </p>
                    </div>
                </article>
            </div>
            <div>
                <article class="functionality">
                    <img src="/assets/icons/reports.png" width="50px">
                    <div>
                        <h3>Reports</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo velit odio minima nobis 
                            voluptatibus corporis, est dolor laboriosam quod.
                        </p>
                    </div>
                </article>
            </div>
            <div id="functions-bot">
                <article class="functionality">
                    <img src="/assets/icons/multiple-roles.png" width="50px">
                    <div>
                        <h3>Multiple Roles</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque expedita esse quibusdam 
                            laborum excepturi, molestiae,  sunt tenetur omnis provident praesentium accusamus?
                        </p>
                    </div>
                </article>
            </div>
            <div>
                <article class="functionality">
                    <img src="/assets/icons/resource-management.png" width="50px">
                    <div>
                        <h3>Resource Management</h3>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea id officiis sapiente quam 
                            Necessitatibus quasi animi asperiores rem tempora suscipit.
                        </p>
                    </div>
                </article>
            </div>
    </section>
    <h2 id="improvement-h2">Why does this mean an improvement in your work</h2>
    <section class="improvement">
        <div>      
            <img src="/assets/images/productivity-booster.jpg">
            <h3>Productivity booster</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quia rem at accusamus reiciendis 
                veritatis  maxime officiis reprehenderit odio. Eligendi earum sint eaque omnis, fuga eius 
                praesentium tempora vel maxime.
            </p>
            <button>More</button>
        </div>
        <div>
            <img src="/assets/images/leadership.jpg">
            <h3>Leadership and team managment</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nemo magni perferendis 
                blanditiis maxime, voluptate fugiat alias deleniti pariatur temporibus? Deserunt impedit 
                nulla ad debitis illum iusto tempora ea! Voluptatum.
            </p>
            <button>More</button>
        </div>
        <div>
            <img src="/assets/images/traceability.jpg">
            <h3>Work Traceability</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident animi, fuga dolore doloremque 
                quidem sit commodi minima? Accusamus laboriosam ea, adipisci facilis neque veniam, ut, deserunt 
                consectetur labore repudiandae nulla?
            </p>
            <button>More</button>
        </div>
        <div>
            <img src="/assets/images/decision-making.jpg">
            <h3>Decision making</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ratione sunt eaque impedit.
                Exercitationem voluptatem iusto aperiam voluptates eum quisquam autem quod recusandae ratione,
                molestias assumenda quidem fuga quam. Deserunt!
            </p>
            <button>More</button>
        </div>
    </section>
        <h2 id="get-touch-h2">Get in touch with us</h2>
    <section class="form-section">
        <form action="test.php" method="POST">
                <div id="form-inputs">
                    <div id="name-input">
                        <label>Full Name</label>
                        <input type="text" name="full-name" placeholder="John Smith">
                    </div>
                <div id="email-input">
                        <label>Email address</label>
                        <input type="email" name="email" placeholder="johnsmith@mail.com">
                    </div>
                
                    <div id="department-select">
                        <label id="choose-dep">Choose a department:</label>
                        <select name="department">
                            <option disabled selected="Area">-Area-</option>
                            <option value="Human Resources">Human Resources</option>
                            <option value="Systems">Systems</option>
                            <option value="Commercialization">Commercialization</option>
                        </select>
                    </div>
                    <div>
                        <legend>Priority</legend>
                        <div id="priority-input">
                                <input id="low" type="radio" name="priority" value="low" checked> 
                                <label for="low">Low</label>
                                <input id="medium" type="radio" name="priority" value="medium">
                                <label for="medium">Medium</label>
                                <input id="high" type="radio"name="priority" value="high">
                                <label for="high">High</label>
                        </div>
                    </div>
                
            </div>
            <div id="text-area">
                <label>Ask about our system</label>
                <textarea name="ask-textarea" placeholder="Enter your message"></textarea>
            </div>
            <div id="form-checks">
                <div>
                    <input type="checkbox" name="not-robot">
                    <label>I am not a robot</label>
                </div>
                <div>
                    <input type="checkbox" name="send-copy">
                    <label>Send me a copy</label>
                </div>
            </div>
            <div id="form-buttons">
                <button id="submit-button">Submit</button>
                <button>Reset</button>
            </div>
        </form>
    </section>
    <h2 id="our-story-h2">Our Story</h2>
    <section id="our-story">  
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate eius voluptates rerum 
            non quo quis doloribus molestiae repellendus impedit alias, adipisci eos culpa expedita in 
            ratione nobis velit earum consequuntur. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Cum est eligendi unde sed, doloremque error deleniti quaerat quia quasi ratione perspiciatis rem 
            ipsam nemo ducimus animi aperiam vero ut ad. Lorem, ipsum dolor sit amet consectetur 
            adipisicing elit. Cupiditate commodi ad dicta quo perspiciatis expedita delectus in, 
            laboriosam sed tempore obcaecati eos sint architecto reiciendis unde vero qui sequi adipisci!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem aliquam sapiente 
            praesentium, dolor distinctio odit magni nesciunt accusamus libero, esse doloribus ipsa nemo 
            aliquid culpa explicabo quae nobis? Provident, optio! Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Reiciendis laudantium, unde dignissimos officia sed architecto culpa, odit 
            praesentium accusantium ipsa amet delectus ut.
        </p>
    </section>
    <section id="links-section">
        <div class="bottom-links">
            <h4>Products</h4>
            <ol>
                <li>
                    <a href="#">Functionalities</a>
                </li>
                <li>
                    <a href="#">Downloads</a>
                </li>
                <li>
                    <a href="#">Intregrations</a>
                </li>
                <li>
                    <a href="#">Extras</a>
                </li>
            </ol>
        </div>
        <div class="bottom-links">
            <h4>Company</h4>
            <ol>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Clients</a>
                </li>
                <li>
                    <a href="#">Resources</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
            </ol>
        </div>
        <div class="bottom-links">
            <h4>Support</h4>
            <ol>
                <li>
                    <a href="#">Help Center</a>
                </li>
                <li>
                    <a href="#">Tutorials</a>
                </li>
                <li>
                    <a href="#">API</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
            </ol>
        </div>
    </section>
    <div id="last-div-line"></div>
    </main>
    <footer>
        <div class="footer-links">
            <a href="https://www.linkedin.com"><img src="/assets/icons/linkedin-logo.png" alt="linkedin logo"></a>
            <a href="https://www.twitter.com"><img src="/assets/icons/twitter-logo.png" alt="twitter logo"></a>
            <a href="https://www.facebook.com"><img src="/assets/icons/fb-logo.png" alt="facebook logo"></a>
            <a href="https://www.instagram.com"><img src="/assets/icons/instagram-logo.png" alt="instagram logo"></a>
            <a href="https://www.github.com"><img src="/assets/icons/github-logo.png" alt="github logo"></a>
        </div>
        <div id="copyright">
            <p>Rosario, Argentina</p>
            <p>Copyright 2022 Radium Rocket</p>
            <p>All rights reserved</p>
        </div>
    </footer>
</body>
</html>
