<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login - TrackGenix</title>
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/sidebar.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/footer.css">
    </head>
    <body>
        <header>
            <img id="logo-img" src="/assets/icons/trackgenix-logo.png" alt="trackgenix logo" width="50px">
            <h1>Trackgenix SA</h1>
            <img id="menu-icon" src="/assets/icons/menu-icon.png" alt="Menu button">
        </header>
        <aside class="menu">
            <span>Menu</span>
                <div id="menu-div"></div>
                <ul class="menu-buttons">
                        <li>
                            <a href="/views/index.html">Home</a>
                        </li>
                    <div class="menu-div"></div>
                        <li>
                            <a href="/views/sign-up.html">Sign Up</a>
                        </li>
                    <div class="menu-div"></div>
                        <li>
                            <a href="/views/login.html">Login</a>
                        </li>
                    <div class="menu-div"></div>
                </ul>
                <span id="contact-us">Contact Us</span>
                <div class="side-contact">
                    <div id="side-email" >
                        <img src="/assets/icons/mail-icon.png">
                        <p>contact@trackgenix.com</p>
                    </div>
                    <div id="side-phone">
                        <img src="/assets/icons/phone-icon.png">
                        <p>(000) 000-0000</p>
                    </div>
                    <div id="side-address">
                        <img src="/assets/icons/home-icon.png">
                        <p>1234 Somewhere Road #8254 Nashville, TN 00000-0000</p>
                    </div>
                </div>
        </aside>
        <main>
            <div id="login-div">
                <h2>Log In</h2>
                <form>
                    <div class='login-form'>
                        <div id="email-login">
                            <label>Email</label>
                            <input id="email-login-input" type="email" name="email" placeholder="johnsmith@mail.com">
                            <span id="email-span"></span>
                        </div>
                        <div id="password-login">
                            <label>Password</label>
                            <input type="password" name="password" placeholder="  *******  ">
                            <span id="password-span"></span>
                        </div>
                        <div class="login-buttons">
                            <button id="login-button" type="submit">Log In</button>
                            <button id="forgot-button" type="submit">Forgot password?</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <footer>
            <div class="footer-links">
                <a href="https://www.linkedin.com"><img src="/assets/icons/linkedin-logo.png" alt="linkedin logo"></a>
                <a href="https://www.twitter.com"><img src="/assets/icons/twitter-logo.png" alt="twitter logo"></a>
                <a href="https://www.facebook.com"><img src="/assets/icons/fb-logo.png" alt="facebook logo"></a>
                <a href="https://www.instagram.com"><img src="/assets/icons/instagram-logo.png" alt="instagram logo"></a>
                <a href="https://www.github.com"><img src="/assets/icons/github-logo.png" alt="github logo"></a>
            </div>
            <div id="copyright">
                <p>Rosario, Argentina</p>
                <p>Copyright 2022 Radium Rocket</p>
                <p>All rights reserved</p>
            </div>
        </footer>
        <script src="/javascript/login.js"></script>
    </body>
</html>