body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    margin-top: 15%;
    padding: 60px 80px 60px 40px;
    border: 5px solid #373867;
    border-radius: 10px;
    justify-content: center;
}

.register-form h2 {
    font-size: 50px;
    font-weight: bold;
}

.register-form div {
    margin-top: 5%;
}

.register-form input {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 100%;
    height: 37px;
    border-radius: 4px;
    border: 2px solid #37386780; 
}

.register-form label {
    font-size: 20px;
    font-weight: bold;
}

.register-form input::placeholder {
    font-size: 15px;
    padding-left: 10px;
}

.register-form #create-button {
    align-self: center;
}

.register-form button {
    width: 200px;
    height: 80px;
    font-size: 25px;
    border: 4px solid #373867;
}

@media (max-width: 1024px) {
    .register-form {
        width: 70%;
        margin-left: 10%;
        padding-right: 5%;
        align-items: center;
    }
}