@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    position: absolute;
    margin: 0px;
    color: #373867;
    font-weight: 400;
}

main {
    display: inline;
    float: right;
    padding: 68px;
    width: 1110px;
}

header {
    background-color: #373867;
    height: 77px;
    width: 1440px;
}

header h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    left: 167px;
    top: 0px;
}

header img {
    position: absolute;
    left: 43px;
    top: 13px;
    bottom: 5px;
    height: 62px;
    width: 77px;
}

.menu {
    display: inline;
    float: left;
    background-color: #aace9b;
    color: #373867;
    width: 184px;
    height: 1000px;
    padding-top: 1px;
    padding-left: 13px;
    position: sticky;
    top: 0;
}

.menu span {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

#contact-us {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.menu-buttons {
    list-style-type: none;
    font-weight: 400;
    font-size: 12px;
    padding-left: 0px;
    line-height: 35px;
}

.menu a {
    padding: 6px 8px 6px 0px;
}

.menu p {
    font-size: 12px;
}

button {
    background-color: #fff;
    width: 136px;
    height: 46px;
    border-radius: 5px;
    border-color: #373867;
    color: #373867;
    font-size: 15px;
    font-weight: 500;
}

#submit-button {
    background-color: #aace9b;
    border: none;
}

.main-text button {
    position:relative;
    left: 340px;
}

button:hover {
    background-color: #373867;
    color: #fff;
}

.main-text {
    display: inline-block;
    width: 45%;
}

.main-text h2 {
    font-size: 40px;
}

#first-image {
    display: inline-block;
    width: 45%;
}

.functions h2 {
    font-size: 30px;
}

.functions article{
    display: inline-block;
    width: 49%;
}

.functions article p {
    display: inline-block;
    width: 50%;
}

.functions article img {
    display: inline-block;
    width: 20%;
    margin-right: 80px;
}

.improvement div {
    display: inline-block;
    width: 45%;
    background-color: #3738671A;
    padding: 80px;
    box-sizing: border-box;
}
