/* Footer */

.footer-links {
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
}

.footer-links img {
    vertical-align: top;
    width: auto;
    height: 40px;
}

footer #copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer #copyright p {
    margin-top: 24px;
    font-size: 15px;
    color: #373867;
}

@media (min-width: 1024px) {

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-links {
        flex-direction: row;
        width: 30%;
        margin-left: 20%;
    }

    #links-section {
        flex-direction: row;
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
        align-items: baseline;
    }

    footer div {
        width: 20%;
    }

    footer #copyright p {
        margin-top: 1px;
        flex-direction: row;
        align-items: center;
    }

}
